Source: piskel
Section: games
Priority: extra
Maintainer: Matias De lellis
Build-Depends: debhelper (>= 9.0.0), ca-certificates, wget, git, nodejs, grunt, npm
Standards-Version: 3.9.3
Homepage: http://github.com/HuayraLinux/pkg-piskel
Vcs-Git: git://github.com/HuayraLinux/pkg-piskel.git
Vcs-Browser: https://github.com/HuayraLinux/pkg-piskel

Package: piskel
Architecture: all
Depends: ${misc:Depends}
Description: A free online sprite editor.
 A simple web-based tool for Spriting and Pixel art. Create pixel art, game
 sprites and animated GIFs