#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


NODE_VERSION :=14.21.3
PATH := node-v$(NODE_VERSION)-linux-x64/bin:./node_modules/.bin:$(PATH)

# pbuilder doesn't set a valid $HOME on purpose, we need it for the npm cache
ifeq ($(shell test -e $(HOME) || echo no),no)
	export HOME=/tmp
endif

%:
	dh $@

override_dh_auto_configure:

	wget https://nodejs.org/dist/v$(NODE_VERSION)/node-v$(NODE_VERSION)-linux-x64.tar.xz
	tar xf node-v$(NODE_VERSION)-linux-x64.tar.xz
	./node-v$(NODE_VERSION)-linux-x64/bin/npm install
	./node-v$(NODE_VERSION)-linux-x64/bin/npm install -g grunt-cli grunt
	./node-v$(NODE_VERSION)-linux-x64/bin/npm install grunt-cli grunt
	grunt
